/* .title{
  font-size: 50px;
  font-style: oblique;
}

.label{
  margin-right: 20px;
}

.input{
  border-radius: 10px;
  border: solid 1px red;
  width: 20rem;
} */

/* Fine Selfwork Introduzione React */

/* inizio Selfwork Componenti React */

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
